.background-home{
  background-image:url('./pages/Images/Intro1.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.block-home {
  position: relative;
  z-index: 2;
  text-align: center;
  color: black;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width:90%;
  max-height: 90vh;
  overflow-y: auto;
}
.custom-border {
  display: inline-block;
  border-bottom: 4px solid black;
}
.block2-home {
  display:flex;
  flex-direction:column;
  align-items:center;
}
* {
  box-sizing: border-box;
}

.Go-app {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Go-app:hover {
  background-color: #0056b3;
}

.settings-container {
  width: 60vw;
  max-height: 80vh;
  margin: 20px auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
  padding: 20px;
  border:2px solid black;
}
.settings-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}
.setting-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.setting-text {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.block-home::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}

.block-home::-webkit-scrollbar-thumb {
  background-color:  grey;
  border-radius: 10px;
}

.block-home::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.block-home {
  scrollbar-width: thin;
  scrollbar-color:grey rgba(0, 0, 0, 0.1);
}










.second-div  {
  
    height: 70%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3); 
  }
  body {
    font-family: 'RocknRoll One', sans-serif;
  }
  

